@model List<TailorManagementApp.Models.SalesModule.Sales>


    <table class="table datatable table-striped" id="datatable">
        <thead>
            <tr class="dataTableHead">
                <th>
                    Date
                </th>
                <th>
                    Bill No.
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Discount
                </th>
                <th>
                    Tax
                </th>
                <th>
                    Total
                </th>

            </tr>
        </thead>
        @{decimal GrandTtl = 0;}
        @if (Model != null && Model.Count() != 0)
        {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalesID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discount)

                            @{
                                decimal percent = item.Discount / item.Amount * 100;
                            }
                            <text>(@Math.Round(percent, 2) %)</text>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tax)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GrandTotal)

                            @{GrandTtl += (decimal)item.GrandTotal;}
                        </td>

                    </tr>
                    }
         }
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Grand Total : </b></td>
                        <td><strong>@GrandTtl</strong> </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
@section scripts{ 
<script>$(document).ready(function () {
        
     $('#datatable').DataTable({
                        "paging": true,
                        "ordering": true,
                        "info": true
                    });
       
    });</script>
}