@model TailorApp.Domain.Entities.Order

@{
    ViewData["Title"] = "OrderInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal paid = Model.Paid;
    decimal Total = Model.TotalPrice;
    decimal due = Total - paid;


}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-block">
                    <div class="row text-center">
                        <div class="col-sm-12 invoice-btn-group text-center">
                            <a class="btn btn-success  m-b-10 btn-sm waves-effect waves-light m-r-20" asp-action="Print" asp-route-id="@Model.OrderID"><i class="ti-printer"></i></a>
                            @*<input type="submit" value="Print" class="btn btn-success  m-b-10 btn-sm waves-effect waves-light m-r-20" onclick="" />*@
                            <a href="/Orders/ViewOrder/" class="btn btn-info waves-effect m-b-10 btn-sm waves-light">Back To List</a>
                        </div>
                    </div>
                    <div id="invoice-box">
                        <div class="card">
                            <div class="row invoice-contact">
                                <div class="col-md-8">
                                    <div class="invoice-box row">
                                        <div class="col-sm-12">
                                            <table class="table table-responsive invoice-table table-borderless">
                                                <tbody>
                                                    <tr>
                                                        <td><img src="~/img/marinoft.png" class="m-b-10" alt=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Tailor shop</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Chittagong,Bangladesh</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="#" target="_top">shop@gmail.com</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>+880 3456789789</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="row invoive-info">
                                    <div class="col-md-4 col-xs-12 invoice-client-info">
                                        <h6>Client Information :</h6>
                                        <h6 class="m-0">@Model.Customer.Name</h6>
                                        <p class="m-0 m-t-10">@Model.Customer.Address</p>
                                        <p class="m-0">(+88) - @Model.Customer.Phone</p>

                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <h6>Order Information :</h6>
                                        <table class="table table-responsive invoice-table invoice-order table-borderless">
                                            <tbody>
                                                <tr>
                                                    <th>Date :</th>
                                                    <td>@(Model.OrderDate.Date)</td>
                                                </tr>
                                                <tr>
                                                    <th>Delevery Date :</th>
                                                    <td>@(Model.DeliverDate.Date)</td>
                                                </tr>
                                                <tr>
                                                    <th>Status :</th>
                                                    @if (Model.IsDelivered)
                                                    {
                                                        <td>

                                                            <span class="label label-success">Delivered</span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <span class="label label-warning">Pending</span>
                                                        </td>
                                                    }

                                                </tr>
                                                <tr>
                                                    <th>Id :</th>
                                                    <td>
                                                        @Model.OrderID
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <h6 class="m-b-20">Invoice Number <span></span></h6>
                                        <h6 class="text-uppercase text-primary">
                                            Total Due :
                                            <span>@due</span>
                                        </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr class="thead-default">
                                                        <th>Product</th>
                                                        <th>Quantity</th>
                                                        <th>Amount</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.OrderDetails)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <h6>@item.Category.Name</h6>
                                                            </td>
                                                            <td>@item.Quantity</td>
                                                            <td>@item.Price</td>
                                                            <td>@item.TotalPrice</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive invoice-table invoice-total">
                                            <tbody>
                                                <tr class="text-info">
                                                    <td>
                                                        <hr />
                                                        <h5 class="text-primary">Total :</h5>
                                                    </td>
                                                    <td>
                                                        <hr />
                                                        <h5 class="text-primary">@Model.TotalPrice</h5>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h6>Terms And Condition :</h6>
                                        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
               

@section scripts{
    <script src="~/html2pdf.js-master/html2pdf.js-master/dist/html2pdf.bundle.min.js"></script>
    <script>
        function generatePDF() {

            var divContents = $("#invoice-box").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('</head><body >');
            printWindow.document.write('<div><h1>Order Invoice</br><h1></div>');
            printWindow.document.write('<div><b>Date : </b>@DateTime.UtcNow<br>Marinoft<br>Karnafuli Tower<br>Chittagong,Bangladesh<br /><hr />Developer<br>Taylor Swift<br>taylor@example.com</div>');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        }
    </script>

}